$blue : rgb(66, 135, 245);
$green : rgb(19, 202, 3);
$white : rgb(255, 255, 255);
$black: rgb(0,0,0);
$red: rgb(245, 65,65);
$grey: rgb(200,200,200);
$lightblue: rgb(213, 227, 247);
$lightgreen: rgb(207, 247, 198);

* {
    box-sizing: border-box;
}